<aside class="search-area">
  <h3>Affinez votre recherche</h3>
  <div class="brand-filter">
    <h4 class="brand-filter-title">Marque</h4>
    <form class="form">
      <ul>
        <li *ngFor='let item of count | keyvalue'
            class="brand-item"
            (change)='handleBrandSelection($event)'>
          <input type="checkbox" [value]="item.key" [id]="item.key">
          <label [for]="item.key">
            <span>{{item.key}}</span>
            <span>{{item.value}}</span>
          </label>
        </li>
      </ul>
      <button (click)='submitBrandSelection($event)' type="submit">Valider</button>
    </form>
  </div>
</aside>
