.header {
  background: linear-gradient(
    90deg,
    #353535,
    #515151 20%,
    #515151 46%,
    #353535
  );
  padding: 20px 0;

  .logo-materiel {
    width: 40%;
  }

  .logo-angular {
    width: 10%;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1340px;
  margin: 0 auto;
}

.main {
  margin-bottom: 50px;
}

.panel {
  padding: 30px 0;

  p {
    font-size: 16px;
    line-height: 16px;
  }
}

.l-large {
  max-width: 1340px;
  margin: 0 auto;
}

.title {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 15px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 68px;
    height: 1px;
    background-color: #f1001c;
  }
}

.products-area {
  display: inline-block;
  vertical-align: top;
  width: 975px;
}

.select-area {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;

  select {
    padding: 10px;
  }
}

.products-list {
  margin-bottom: 50px;
}
